<div>
    <div class="user-name">
        <form (ngSubmit)="submit()" [formGroup]="detailsForm" action="">
        <label for="">Name:</label>
        <input type="text" formControlName="userName">
        <label for="">Role:</label>
        <input type="text" formControlName="role">
        <label for="">Phone Number:</label>
        <input type="text" formControlName="phoneNumber">
        <label for="">Email:</label>
        <input type="email" name="" id="" formControlName="email">
        <label for="">Address:</label>
        <input type="text" formControlName="address">
        <button>Submit</button>
    </form>
    </div>
</div>